Adyen==4.0.0
alabaster==0.7.12
amqp==5.0.2
aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
authorizenet==1.1.3
Babel==2.5.3
beautifulsoup4==4.7.1
billiard==3.6.3.0
bleach==3.1.5
boto3==1.16.56
botocore==1.19.56
braintree==4.5.0
cachetools==4.2.0
cairocffi==1.2.0
CairoSVG==2.5.1
celery==5.0.5
certifi==2018.11.29
cffi==1.14.4
Chameleon==3.9.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
coreschema==0.0.4
cryptography==3.3.1
cssselect2==0.4.1
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
dj-email-url==1.0.1
Django==2.0
django-address==0.2.5
django-allauth==0.44.0
django-appconf==1.0.4
django-bootstrap3==11.0.0
django-cache-url==3.1.2
django-ckeditor==5.4.0
django-cleanup==2.1.0
django-countries==6.1.3
django-crispy-forms==1.7.2
django-debug-toolbar==3.2
django-enumfields==2.0.0
django-filer==1.7.1
django-filter==2.2.0
django-heroku==0.3.1
django-jinja==2.5.0
django-js-asset==1.0.0
django-measurement==3.2.3
django-mercadopago-simple==4.1.1
django-mptt==0.9.1
django-parler==2.0.1
django-phonenumber-field==5.0.0
django-polymorphic==2.1.2
django-prices==2.2.0
django-prices-openexchangerates==1.1.0
django-prices-vatlayer==1.1.0
django-redis==4.12.1
django-registration-redux==2.7
django-render-block==0.8.1
django-reversion==3.0.5
django-storages==1.11.1
django-templated-email==2.3.0
django-timezone-field==3.1
django-versatileimagefield==2.0
djangorestframework==3.11.0
doc8==0.8.1
draftjs-sanitizer==1.0.0
easy-thumbnails==2.7.1
enmerkar==0.7.1
et-xmlfile==1.0.1
factory-boy==2.7.0
fake-factory==0.5.3
Faker==5.6.1
filelock==3.0.12
flake8==3.5.0
flake8-eradicate==0.3.0
flake8-logging-format==0.6.0
freezegun==0.3.15
google-api-core==1.25.0
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-pubsub==2.2.0
google-cloud-storage==1.35.0
google-crc32c==1.1.1
google-i18n-address==2.4.0
google-measurement-protocol==1.1.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
graphene==2.1.8
graphene-django==2.13.0
graphene-federation==0.1.0
graphql-core==2.3.2
graphql-relay==2.0.1
grpc-google-iam-v1==0.12.3
grpcio==1.34.1
gunicorn==20.0.4
h11==0.12.0
html-to-draftjs==1.0.1
html5lib==1.1
idna==2.8
imagesize==1.2.0
isort==4.2.15
itypes==1.1.0
jaeger-client==4.4.0
jdcal==1.4.1
Jinja2==2.8.1
jmespath==0.10.0
jsonfield==2.1.1
keyring==21.8.0
keyrings.alt==4.0.2
kombu==5.0.2
lazy-object-proxy==1.4.3
libcst==0.3.16
lxml==4.6.2
Markdown==3.3.3
MarkupPy==1.14
MarkupSafe==1.1.0
maxminddb==2.0.3
maxminddb-geolite2==2018.703
mccabe==0.6.1
measurement==3.2.0
mechanize==0.4.5
mega.py==1.0.8
mercadopago==1.2.0
mpmath==1.1.0
msedge-selenium-tools==3.141.3
mypy-extensions==0.4.3
mysql-connector-python==8.0.22
mysqlclient==2.0.3
oauthlib==3.1.0
openpyxl==2.5.14
opentracing==2.4.0
packaging==20.8
parameterized==0.8.1
pathlib==1.0.1
peewee==3.14.1
petl==1.7.1
phonenumberslite==8.12.16
Pillow==8.0.1
prices==1.1.0
promise==2.3
prompt-toolkit==3.0.10
proto-plus==1.13.0
protobuf==3.14.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
purl==1.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.3.1
pycparser==2.19
pycryptodome==3.10.1
pyflakes==1.6.0
PyJWT==2.0.1
pylint==2.6.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.1
Pyphen==0.10.0
python-dateutil==2.8.1
python-decouple==3.4
python-dev-tools==2020.9.10
python-dotenv==0.15.0
python-json-logger==2.0.1
python-magic==0.4.20
python-magic-bin==0.4.14
python3-openid==3.2.0
pytimeparse==1.1.8
pytz==2018.7
pywin32-ctypes==0.2.0
PyXB==1.2.5
PyYAML==5.3.1
razorpay==1.2.0
redis==3.5.3
requests==2.21.0
requests-oauthlib==1.3.0
rsa==4.7
Rx==1.6.1
s3transfer==0.3.4
selenium==3.141.0
sentry-sdk==0.19.5
setuptools-git==1.2
setuptools-scm==5.0.1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==2.1
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
stripe==2.55.1
sympy==1.7.1
tenacity==5.1.5
text-unidecode==1.3
threadloop==1.0.2
thrift==0.13.0
tinycss2==0.6.1
toml==0.10.2
tornado==6.1
tqdm==4.56.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
unicodecsv==0.14.1
Unidecode==1.1.2
uritemplate==3.0.0
urllib3==1.24.1
uvicorn==0.13.3
vine==5.0.0
virtualenv==20.4.0
watchgod==0.6
wcwidth==0.2.5
WeasyPrint==52.2
webencodings==0.5.1
websockets==8.1
whitenoise==5.2.0
wrapt==1.12.1
xlrd==2.0.1
XlsxWriter==1.3.8
