{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nosotros</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <!--Favicon-->
    <!---styles-->
    <style>
        img.nosotros {
                        height: 250px;
                        padding: 15px;
                        padding-top: 30px;
                        float: left;
        }
    </style>
    <!---styles-->
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color:#0887E5;">
        <div class="container"><a class="navbar-brand" href="index.html" style="color: #FFFFFF;"><img src="assets/img/logo.png" width="80" height="inherit">Entorno Mental</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'nosotros' %}">NOSOTROS</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'contact' %}">CONTACTO</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'directory' %}">DIRECTORIO</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'register' %}">REGISTRO</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'login' %}">INICIAR SESIÓN</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Banner de sección--->
    <header class="masthead" style="background: url(&quot;assets/img/nosotros.jpg&quot;) top;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase"><span style="color: rgb(8,135,229);">NOSOTROS</span></div></div>
        </div>
    </header>
    <!--Banner de sección--->

    <!---MISIÓN-->
    <section id="mision" style="padding: 1px;">
            <div class="container" style="padding-top: 2px;">
                <img class="nosotros" src="{% static 'assets/img/mision.jpg' %}" alt="mision">
                <div class="intro-text" style="padding-top: 1px;">
                    <div><span style="font-family: Kaushan Script; color: rgb(7,218,48); font-size: 70px;">Misión</span></div>
                    <p style="font-family: montserrat;">
                        <b>Entorno Mental</b> tiene como misión brindar de un espacio formal, seguro e informativo sobre la salud mental, 
                        donde especialistas del campo buscarán apoyar a los usuarios a través de compartir información sobre salud 
                        mental en general y brindar la oportunidad de contactarse directamente con ellos, en buscar de apoyar a la 
                        comunidad y borrar los estigmas de acudir con profesionales de este campo.
                    </span></p>
                </div>
            </div>
    </section>
    <!---MISIÓN-->
    <!--VISIÓN-->
    <section id="vision" style="padding: 1px;">
        <div class="container">
            <img class="nosotros" src="assets/img/vision.jpg" alt="mision" style="float: right;">
            <div class="intro-text" style="padding-top: 1px;">
                <div><span style="font-family: Kaushan Script; color: rgb(7,218,48); font-size: 70px;">Visión</span></div>
                <p style="font-family: montserrat;">
                    Formar una <b>comunidad de usuarios y especialistas que trabajen juntos</b> 
                    para dialogar e informarse sobre la importancia de la salud mental, es por ello 
                    que esperamos gradualmente ampliar nuestro catálogo de especialistas así como adaptar 
                    nuestro entorno digital para el bien común en torno a la salud, <b>combatiendo los estigmas</b> de 
                    acudir con profesionales de este campo.
                </span></p><br>
            </div>
        </div>
    </section>
    <!--VISIÓN-->
    <!--OBJETIVO-->
    <section id="" style="padding: 1px; padding-bottom: 20px;">
        <div class="container">
            <img class="nosotros" src="assets/img/objetivo.jpg" alt="mision">
            <div class="intro-text" style="padding-top: 1px;">
                <div><span style="font-family: Kaushan Script; color: rgb(7,218,48); font-size: 70px;">Objetivo</span></div>
                <p style="font-family: montserrat;">
                    Siguiendo nuestra visión y misión; nuestro sitio web busca ser una plataforma 
                    que <b>brinde un espacio virtual</b> entre especialistas de la salud mental y aquellos 
                    en <b>busca de apoyo</b> e <b>información correcta y confiable</b>; independiente del lugar físico 
                    en el que se encuentren.
                </span></p><br>
            </div>
        </div>
    </section>
    <!--OBJETIVO-->

    <footer style="background-color:#0887E5;">
        <div class="container" id="contact" >
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Entorno Mental&nbsp; 2021</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="" target="blank">Aviso de Privacidad</a></li>
                        <li class="list-inline-item"><a href="">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
 
    <!--END MODAL: Recaudaciones--->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/agency.js"></script>
</body>

</html>
